.innerBodyTitle .title{
    font-size: 21px;
    line-height: 28px;
    padding-left: 7px;
    font-weight: 500;
}

.innerBodyTitle .iconTitle{
    font-size: 28px;
    height: 28px;
    height: 28px;
}

.innerBodyTitle .border{
    border: 1px solid transparent;
}

.innerBodyTitle{
    margin-top: 30px;
}