<div class="linearModal">
	<bodycardtitle [title]=title [subtitle]=subtitle [icon]=icon [color]=color></bodycardtitle>

	<mat-dialog-content class="mat-typography">
		<form [formGroup]='proyectosForm'>
			<div class="row">

				<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
					<input matInput placeholder="Código de la sede" formControlName='code'
						>
					<mat-error *ngIf="form.code.hasError('required')">
						El código es <strong>obligatorio</strong>.
					</mat-error>
					<mat-error *ngIf="form.code.hasError('maxlength')">
						El código debe tener máximo <strong>75 caracteres</strong>.
					</mat-error>
					<mat-error *ngIf="form.code.hasError('minlength')">
						El código debe tener mínimo <strong>5 caracteres</strong>.
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
					<input matInput placeholder="Nombre de la sede" formControlName='name'
						>
					<mat-error *ngIf="form.name.hasError('required')">
						El nombre es <strong>obligatorio</strong>.
					</mat-error>
					<mat-error *ngIf="form.name.hasError('maxlength')">
						El campo debe tener máximo <strong>75 caracteres</strong>.
					</mat-error>
					<mat-error *ngIf="form.name.hasError('minlength')">
						El campo debe tener mínimo <strong>5 caracteres</strong>.
					</mat-error>
				</mat-form-field>

			</div>
		</form>
	</mat-dialog-content>

	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close color="warn">Cerrar</button>
		<button mat-button class="successbutton" [disabled]="!proyectosForm.valid" (click)="edit()">Editar</button>
	</mat-dialog-actions>
</div>