.bodycardtitleContainer {
    padding: 7px !important;
    display: flex !important;
    color: white !important;
    margin-left: 3px !important;
    width: calc(100% - 6px ) !important;
    margin-top: -46px;
    height: 72px;
}

.bodycardtitleContainer .iconContainer{
    height: 58px !important;
    width: 58px !important;
    padding: 4px;
}

.bodycardtitleContainer .mat-icon {
    height: 51px;
    width: 51px;
    font-size: 51px;
}

.bodycardtitleContainer .decriptionContainer{
    padding:  2px 7px;
}

.bodycardtitleContainer .title{
    font-size: 26px;
}

.bodycardtitleContainer .subtitle{
    font-size: 15px;
}

.mat-dialog-container .bodycardtitleContainer {
    margin-top: -61px !important;
    margin-left: 32px !important;
}

@media only screen and (max-width: 600px) {
    .bodycardtitleContainer .title {
        font-size: 33px;
        line-height: 54px;
    }
    .bodycardtitleContainer .subtitle{
        display: none;
    }
}
