<breadcrumb></breadcrumb>
<mat-card class="mat-card-cardtitled">
    <bodycardtitle [title]=title [subtitle]=subtitle [icon]=icon [color]=color></bodycardtitle>

    <div class="mat-elevation-z3">

        <div class="searchTableContainer flexi">
            <div class="icon gridi">
                <mat-icon class="menu-icon mauto">search</mat-icon>
            </div>
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)"
                    placeholder="Escribe la palabra o valor a buscar en esta tabla...">
            </mat-form-field>
        </div>

        <div class="overflowTable">
            <table mat-table [dataSource]="dataSource" matSort>

            <!-- Name Column -->
            <ng-container matColumnDef="name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Razón social</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="resolution">
                <th mat-header-cell *matHeaderCellDef > Resolución </th>
                <td mat-cell *matCellDef="let element" > {{element.resolution}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="nit">
                <th mat-header-cell *matHeaderCellDef> NIT </th>
                <td mat-cell *matCellDef="let element"> {{element.nit}} </td>
            </ng-container>

            <ng-container matColumnDef="sectorName">
                <th mat-header-cell *matHeaderCellDef> Sector </th>
                <td mat-cell *matCellDef="let element"> {{element.sectorName}} </td>
            </ng-container>

            <ng-container matColumnDef="dane">
                <th mat-header-cell *matHeaderCellDef> DANE </th>
                <td mat-cell *matCellDef="let element"> {{element.dane}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Dirección </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="neighborhood">
                <th mat-header-cell *matHeaderCellDef> Barrio </th>
                <td mat-cell *matCellDef="let element"> {{element.neighborhood}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element"> <mat-slide-toggle matTooltip="Activar/Inactivar colegios"></mat-slide-toggle> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        
        </div>
        <mat-paginator [pageSizeOptions]=mainTablePaginationOptions showFirstLastButtons></mat-paginator>
    </div>

    <button class="floatAddButton" mat-fab aria-label="Create primary entity of this page" matTooltip="Crear Colegio">
        <mat-icon>add</mat-icon>
    </button>

</mat-card>