<bodycardtitle [title]=title [subtitle]=subtitle [icon]=icon [color]=color></bodycardtitle>
<mat-dialog-content class="mat-typography linearModal">
	<form [formGroup]= 'createFormGroup'>
		<div class="row">

			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<mat-label>Tipo de Documento</mat-label>
				<mat-select  formControlName='typeAdministratorDocumentId'>
					<mat-option *ngFor="let item of documentType" [value]="item.id">
						{{item.code}} - {{item.description}} - {{item.documentNatureName}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="createFormGroup.controls.typeAdministratorDocumentId .hasError('required')">
					El campo es <strong>Obligatorio</strong>.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<input matInput placeholder="Códigode tesorería" formControlName='treasuryCode' autocomplete="false"  [errorStateMatcher]="matcher">
				<mat-error *ngIf="createFormGroup.controls.treasuryCode.hasError('required')">
					El campo es <strong>obligatorio</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.treasuryCode.hasError('maxlength')">
					El campo debe tener máximo <strong>4 caracteres</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.treasuryCode.hasError('minlength')">
					El campo debe tener mínimo <strong>4 caracteres</strong>.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<mat-label>Centro de utilidad (SEDE)</mat-label>
				<mat-select  formControlName='utilityCenter'>
					<mat-option *ngFor="let item of campus" [value]="item.id">
						{{item.code}} - {{item.name}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="createFormGroup.controls.utilityCenter.hasError('required')">
					El campo es <strong>Obligatorio</strong>.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<mat-label>Comprobante</mat-label>
				<mat-select  formControlName='voucherId'>
					<mat-option *ngFor="let item of vouchers" [value]="item.id">
						{{item.code}} - {{item.description}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="createFormGroup.controls.voucherId .hasError('required')">
					El campo es <strong>Obligatorio</strong>.
				</mat-error>
			</mat-form-field>

			<div class="col-lg-6 col-md-6 col-sm-12">
				<mat-checkbox formControlName="showDate">Mostrar fecha</mat-checkbox>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12">
				<mat-checkbox formControlName="chronologicalOrder">Creación en orden</mat-checkbox>
			</div>


<!-- 
			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<input type="" matInput placeholder="Descripción" formControlName='description' autocomplete="false"  [errorStateMatcher]="matcher">
				<mat-error *ngIf="createFormGroup.controls.description.hasError('required')">
					El campo es <strong>obligatorio</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.description.hasError('minlength')">
					El campo debe tener mínimo <strong>4 caracteres</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.description.hasError('maxlength')">
					El campo debe tener máximo <strong>30 caracteres</strong>.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<mat-label>Tipo</mat-label>
				<mat-select  formControlName='natureDocumentId'>
					<mat-option *ngFor="let item of natures" [value]="item.id">
						{{item.name}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="createFormGroup.controls.natureDocumentId.hasError('required')">
					El campo es <strong>Obligatorio</strong>.
				</mat-error>
			</mat-form-field> -->

		</div>

	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close color="warn">Cerrar</button>
	<button mat-button class="successbutton" (click)="create()" [disabled]="!createFormGroup.valid">Crear</button>
</mat-dialog-actions>