<bodycardtitle [title]=title [subtitle]=subtitle [icon]=icon [color]=color></bodycardtitle>
<mat-dialog-content class="mat-typography mediumModal">
	<form [formGroup]='createFormGroup'>
		<div class="row">
			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<input matInput placeholder="Código" formControlName='code' [errorStateMatcher]="matcher">
				<mat-error *ngIf="createFormGroup.controls.code.hasError('required')">
					El campo es <strong>obligatorio</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.code.hasError('maxlength')">
					El campo debe tener máximo <strong>3 caracteres</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.code.hasError('minlength')">
					El campo debe tener mínimo <strong>3 caracteres</strong>.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<input type="" matInput placeholder="Descripción" formControlName='description'
					[errorStateMatcher]="matcher">
				<mat-error *ngIf="createFormGroup.controls.description.hasError('required')">
					El campo es <strong>obligatorio</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.description.hasError('maxlength')">
					El campo debe tener máximo <strong>50 caracteres</strong>.
				</mat-error>

				<mat-error *ngIf="createFormGroup.controls.description.hasError('minlength')">
					El campo debe tener máximo <strong>3 caracteres</strong>.
				</mat-error>
			</mat-form-field>


			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<mat-label>Tipo de cuenta</mat-label>
				<mat-select formControlName='accountTypeId'>
					<mat-option *ngFor="let item of accountTypes" [value]="item.id">
						{{item.name}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="createFormGroup.controls.accountTypeId.hasError('required')">
					El campo ciudad es <strong>Obligatorio</strong>.
				</mat-error>
			</mat-form-field>

			<div class="row">
				<mat-form-field class="col-lg-6 col-md-6 col-sm-12">
					<mat-label>Cuenta Contable</mat-label>
					<mat-select formControlName='singleAccountPlanId'>
						<mat-option [disabled]="true" class="selectorInputFilter">
							<input matInput placeholder="Filtrar por número o nombre" formControlName='pucfilter'
								(keyup)="applyFilter($event.target.value)" autocomplete="off">
						</mat-option>
						<mat-option *ngFor="let item of pucs | slice:0:50" [value]="item.id">
							{{item.code}} - {{item.description}}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="createFormGroup.controls.singleAccountPlanId.hasError('required')">
						El campo ciudad es <strong>Obligatorio</strong>.
					</mat-error>
				</mat-form-field>


				<mat-form-field class="col-lg-6 col-md-6 col-sm-12">
					<input matInput placeholder="Número de cuenta" formControlName='number'
						[errorStateMatcher]="matcher">
					<mat-error *ngIf="createFormGroup.controls.number.hasError('required')">
						El campo debe tener máximo <strong>obligatorio</strong>
					</mat-error>
					<mat-error *ngIf="createFormGroup.controls.number.hasError('maxlength')">
						El campo debe tener máximo <strong>15 caracteres</strong>
					</mat-error>
					<mat-error *ngIf="createFormGroup.controls.number.hasError('minlength')">
						El campo debe tener mínimo <strong>8 caracteres</strong>.
					</mat-error>
				</mat-form-field>
			</div>



			<div class="col-lg-4 col-md-4 col-sm-12">
				<mat-checkbox formControlName="printable">¿Imprimible?</mat-checkbox>
			</div>

		</div>

	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close color="warn">Cerrar</button>
	<button mat-button class="successbutton" (click)="create()" [disabled]="!createFormGroup.valid">Crear</button>
</mat-dialog-actions>