

<mat-grid-list cols="6" rowHeight="100px" gutterSize="20">
  <mat-grid-tile  [colspan]="windowwith > 1150 ? 2 : 6" [rowspan]="5" [style.background]="red">
    <mat-card class="mat-card-cardtitled" style="height: calc(100% - 33px);width: 100%;">
      <bodycardtitle [title]=cards.aud.title [subtitle]=cards.aud.subtitle [icon]=cards.aud.icon [color]=cards.aud.color></bodycardtitle>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile  [colspan]="windowwith > 1150 ? 4 : 6" [rowspan]="3" [style.background]="red">
    <mat-card class="mat-card-cardtitled" style="height: calc(100% - 33px);width: 100%;">
      <bodycardtitle [title]=cards.profiles.title [subtitle]=cards.profiles.subtitle [icon]=cards.profiles.icon [color]=cards.profiles.color></bodycardtitle>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


