<bodycardtitle [title]=title [subtitle]=subtitle [icon]=icon [color]=color></bodycardtitle>
<mat-dialog-content class="mat-typography mediumModal">
	<form [formGroup]= 'createFormGroup'>
		<div class="row">
			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<input matInput placeholder="Nombre de la institución" formControlName='name' (change)="print()" >
				<mat-error *ngIf="createFormGroup.controls.name.hasError('required')">
					El nombre es <strong>obligatorio</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.name.hasError('maxlength')">
					El nombre debe tener máximo <strong>75 caracteres</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.name.hasError('minlength')">
					El nombre debe tener mínimo <strong>10 caracteres</strong>.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<input type="" matInput placeholder="NIT" formControlName='nit' (change)="print()" >
				<mat-error *ngIf="createFormGroup.controls.nit.hasError('required')">
					El NIT es <strong>obligatorio</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.nit.hasError('maxlength')">
					El NIT debe tener máximo <strong>12 caracteres</strong>.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<input matInput placeholder="Dirección"  formControlName='address'  >
				<mat-error *ngIf="createFormGroup.controls.address.hasError('required')">
					El campo dirección es <strong>obligatorio</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.address.hasError('maxlength')">
					El campo dirección debe tener máximo <strong>75 caracteres</strong>.
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.address.hasError('minlength')">
					El campo dirección debe tener mínimo <strong>10 caracteres</strong>.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
				<input matInput placeholder="Barrio"  formControlName='neighborhood'  >
				<mat-error *ngIf="createFormGroup.controls.neighborhood.hasError('maxlength')">
					El campo barrio debe tener máximo <strong>75 caracteres</strong> (si es ingresado).
				</mat-error>
				<mat-error *ngIf="createFormGroup.controls.neighborhood.hasError('minlength')">
					El campo dirección debe tener mínimo <strong>10 caracteres</strong> (si es ingresado).
				</mat-error>
			</mat-form-field>

			<div class="row">
				<mat-form-field class="col-lg-6 col-md-6 col-sm-12">
					<input matInput placeholder="Teléfonos"  formControlName='phones'  >
					<mat-error *ngIf="createFormGroup.controls.phones.hasError('required')">
						El campo  teléfonoes <strong>obligatorio</strong>.
					</mat-error>
					<mat-error *ngIf="createFormGroup.controls.phones.hasError('maxlength')">
						El campo teléfono debe tener máximo <strong>75 caracteres</strong> (si es ingresado).
					</mat-error>
					<mat-error *ngIf="createFormGroup.controls.phones.hasError('minlength')">
						El campo teléfono debe tener mínimo <strong>10 caracteres</strong> (si es ingresado).
					</mat-error>
				</mat-form-field>
				

				<mat-form-field class="col-lg-6 col-md-6 col-sm-12">
					<input matInput placeholder="FAX"  formControlName='fax'  >
					<mat-error *ngIf="createFormGroup.controls.fax.hasError('maxlength')">
						El campo fax debe tener máximo <strong>75 caracteres</strong> (si es ingresado).
					</mat-error>
					<mat-error *ngIf="createFormGroup.controls.fax.hasError('minlength')">
						El campo fax debe tener mínimo <strong>10 caracteres</strong> (si es ingresado).
					</mat-error>
				</mat-form-field>
			</div>
		</div>	
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close color="warn">Cerrar</button>
	<button mat-button class="successbutton" [disabled]="!createFormGroup.valid" (click)="edit()">Editar</button>
</mat-dialog-actions>