<breadcrumb></breadcrumb>

<mat-card class="mat-card-cardtitled">
  <bodycardtitle [title]=title [subtitle]=subtitle [icon]=icon [color]=color></bodycardtitle>
  <div class="mat-elevation-z3">
    <div class="searchTableContainer flexi">
      <div class="icon gridi">
        <mat-icon class="menu-icon mauto">search</mat-icon>
      </div>
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter('dataSourcePending' ,$event.target.value)"
          placeholder="Escribe la palabra o valor a buscar en esta tabla...">
      </mat-form-field>
    </div>

    <div class="overflowTable">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="init" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de inicio</th>
          <td mat-cell *matCellDef="let month">{{month.startDate}}</td>
        </ng-container>

        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef>Fecha de finalización</th>
          <td mat-cell *matCellDef="let month">{{month.finishDate !== null ? month.finishDate : 'N/A' }}</td>
        </ng-container>

        <ng-container matColumnDef="closedBy">
          <th mat-header-cell *matHeaderCellDef>Cerrado por</th>
          <td mat-cell *matCellDef="let month">{{month.user ? month.user.name : 'N/A'}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let month">{{month.state.description}}</td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="centered">Acciones</th>
          <td mat-cell *matCellDef="let month" class="pad10 actionsColumn">

            <div class="actionsContainer" *ngIf="month.state.id === 2">
              <button mat-mini-fab class="errorbutton" (click)="closeMonth(month)" matTooltip="Cerrar Mes">
                <mat-icon>close</mat-icon>
              </button>
            </div>

            <div class="actionsContainer" *ngIf="month.modificationRequest.length > 0">
              <button mat-mini-fab class="successbutton" (click)="requestHistory(month)" matTooltip="Historial de solicitudes">
                <mat-icon>view_list</mat-icon>
              </button>
            </div>

            <div class="actionsContainer" *ngIf="month.state.id === 1">
              <button mat-mini-fab class="alterbutton" (click)="request(month)" matTooltip="Solicitar modificación: {{month.startDate}}">
                <mat-icon>swap_vert</mat-icon>
              </button>
            </div>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <nodata *ngIf="noData" [nodataheight]=nodataheight [nodatamessage]=nodatamessage></nodata>
      <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>

    </div>
    <mat-paginator [pageSizeOptions]=mainTablePaginationOptions showFirstLastButtons></mat-paginator>
  </div>
</mat-card>