<div class="largeModal">
	<bodycardtitle [title]=title [subtitle]=subtitle [icon]=icon [color]=color></bodycardtitle>
	<mat-dialog-content class="mat-typography ">
		<form [formGroup]='createFormGroup'>
			<div class="row justify-content-end">

				<mat-form-field class="col-lg-4 col-md-4 col-sm-12">

					<input matInput formControlName='noteDate' [min]="minDate" [matDatepicker]="dp3"
						placeholder="Fecha de creación" disabled="true">
					<mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
					<mat-datepicker #dp3 disabled="false"></mat-datepicker>

					<mat-error *ngIf="createFormGroup.controls.noteDate.hasError('required')">
						El campo es <strong>Obligatorio</strong>.
					</mat-error>
				</mat-form-field>


				<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
					<mat-label>Presupuesto</mat-label>
					<mat-select formControlName='budget'>
						<mat-option *ngFor="let item of revenuetypes" [value]="item.id">
							{{item.description}}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="createFormGroup.controls.budget.hasError('required')">
						El campo es <strong>Obligatorio</strong>.
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
					<mat-label>Tercero</mat-label>
					<mat-select formControlName='thirdPartyId'>
						<mat-option *ngFor="let item of thirds" [value]="item.id">
							({{item.businessName}}) {{item.name}} {{item.surname}}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="createFormGroup.controls.budget.hasError('required')">
						El campo es <strong>Obligatorio</strong>.
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
					<input matInput placeholder="Concepto" formControlName='concept' autocomplete="off">
					<mat-error *ngIf="createFormGroup.controls.concept.hasError('required')">
						El campo es <strong>obligatorio</strong>.
					</mat-error>
					<mat-error *ngIf="createFormGroup.controls.concept.hasError('maxlength')">
						El campo debe tener máximo <strong>50 caracteres</strong>.
					</mat-error>
					<mat-error *ngIf="createFormGroup.controls.concept.hasError('minlength')">
						El campo debe tener mínimo <strong>10 caracteres</strong>.
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
					<textarea rows='2' matInput formControlName='detail'
						placeholder="Detalle el certificado..."></textarea>
					<mat-error *ngIf="createFormGroup.controls.detail.hasError('required')">
						El campo es <strong>Obligatorio</strong>.
					</mat-error>
					<mat-error *ngIf="createFormGroup.controls.detail.hasError('maxlength')">
						El campo debe tener máximo <strong>200 caracteres</strong>.
					</mat-error>
					<mat-error *ngIf="createFormGroup.controls.detail.hasError('minlength')">
						El campo debe tener mínimo <strong>5 caracteres</strong>.
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
					<textarea rows='3' matInput formControlName='observations'
						placeholder="Observaciones adicionales sobre el certificado..."></textarea>
				</mat-form-field>

			</div>
		</form>

		<h2 class="centered fullwidth">Registro Presupuestal de Compromiso</h2>

		<div style=" width: 100%;">

			<div class="mat-elevation-z3" style="margin: 10px;">

				<div class="overflowTable">
					<table mat-table [dataSource]="dataSource" matSort>


						<ng-container matColumnDef="cdp">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>CDP</th>
							<td mat-cell *matCellDef="let element ; let i1 = index">
								<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
									<mat-label>Certificado de disponibilidad</mat-label>
									<mat-select [(ngModel)]="element.availabilityCerticateId"
										(ngModelChange)="eval(); selectCDP(cdpsobject[element.availabilityCerticateId], i1)">
										<mat-option [disabled]="true" class="selectorInputFilter">
											<input matInput placeholder="Filtrar por nombre"
												[ngModelOptions]="{ standalone: true }" [(ngModel)]="element.filter1"
												(keydown)="$event.stopPropagation()" autocomplete="off">
										</mat-option>
										<div *ngFor="let item of cdps ; let i=index">
											<mat-option [value]="item.id"
												*ngIf="filterSelect(element.filter1, item, 1) ">
												{{item.code}} - {{item.concept}} (${{currency(item.totalAmount)}})
											</mat-option>
										</div>
									</mat-select>
								</mat-form-field>
							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container matColumnDef="accountid">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta</th>
							<td mat-cell *matCellDef="let element ;">
								<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
									<mat-label>Cuenta Presupuestal </mat-label>
									<mat-select [(ngModel)]="element.budgetAccountId" (ngModelChange)="eval()"
										[disabled]="element.availabilityCerticateId === null">
										<mat-option [disabled]="true" class="selectorInputFilter">
											<input matInput placeholder="Filtrar por número o nombre"
												[ngModelOptions]="{ standalone: true }" [(ngModel)]="element.filter2"
												(keydown)="$event.stopPropagation()" autocomplete="off">
										</mat-option>
										<div *ngFor="let item of element.budgetAccounts ; let i=index">
											<mat-option [value]="item.budgetAccount.id">
												{{item.budgetAccount.description}}
											</mat-option>
										</div>

									</mat-select>
								</mat-form-field>

							</td>
							<td mat-footer-cell *matFooterCellDef></td>
						</ng-container>

						<ng-container matColumnDef="revenueid">
							<th mat-header-cell *matHeaderCellDef>Fuente</th>
							<td mat-cell *matCellDef="let element">
								<mat-form-field class="col-lg-12 col-md-12 col-sm-12">
									<mat-label>Fuente de financiación</mat-label>
									<mat-select [(ngModel)]="element.revenueid" (ngModelChange)="eval()"
										[disabled]="element.availabilityCerticateId === null">
										<mat-option [disabled]="true" class="selectorInputFilter">
											<input matInput placeholder="Filtrar por número o nombre"
												[ngModelOptions]="{ standalone: true }" [(ngModel)]="element.filter3"
												(keydown)="$event.stopPropagation()" autocomplete="off">
										</mat-option>
										<div *ngFor="let item of revenues | slice:0:50">
											<mat-option [value]="item.id"
												*ngIf="filterSelect(element.filter3, item, 3)">
												{{item.code}} - {{item.description}}
											</mat-option>
										</div>

									</mat-select>
								</mat-form-field>
							</td>
							<td mat-footer-cell *matFooterCellDef>
							</td>
						</ng-container>

						<ng-container matColumnDef="amount">
							<th mat-header-cell *matHeaderCellDef>Monto</th>
							<td mat-cell *matCellDef="let element">
								<mat-form-field class="example-full-width">
									<span matPrefix>$ &nbsp;</span>
									<input type="number" matInput placeholder="Max {{element.totalAmount}}"
										[ngModelOptions]="{ standalone: true }" (change)="eval()"
										[(ngModel)]="element.amount" (input)="getAmount()" min="1" max="{{element.totalAmount}}"
										[disabled]="element.availabilityCerticateId === null" autocomplete="off">						
								</mat-form-field>
							</td>
							<td mat-footer-cell *matFooterCellDef style="text-align: center;">
								<strong>${{totalAmount}}</strong>
							</td>
						</ng-container>
						<ng-container matColumnDef="actions">
							<th mat-header-cell *matHeaderCellDef></th>
							<td mat-cell *matCellDef="let element; index as i;">
								<button mat-mini-fab class="errorbutton" (click)="deletere(i)" *ngIf="i>0"
									matTooltip="Eliminar registro">
									<mat-icon>delete</mat-icon>
								</button>
							</td>
							<td mat-footer-cell *matFooterCellDef style="text-align: center;"> <strong></strong>
							</td>
						</ng-container>
						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						<tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
					</table>

					<div style="width: 100%; height: 60px;text-align: center;">
						<button class="successbutton floatAddButton" mat-fab
							aria-label="Create primary entity of this page" matTooltip="Agregar registro"
							(click)="addAccount()"
							style="bottom: initial; right: initial; position: initial !important;">
							<mat-icon>add</mat-icon>
						</button>
					</div>
				</div>
				<mat-paginator [pageSizeOptions]=mainTablePaginationOptions showFirstLastButtons>
				</mat-paginator>
			</div>
		</div>


	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close color="warn">Cerrar</button>
		<button mat-button class="successbutton" (click)="create()"
			[disabled]=" !((evaluate.length === accounts.length) )"> Crear</button>
	</mat-dialog-actions>

</div>